<h1>Parcel Cost</h1>
<h2>Input the dimensions of your package</h2>
<form action='/results'>
  <div class="form-group">
    <label for="width">Width:</label>
    <input class="form-control" type="text" id="width" name="width"></input>
    <label for="height">Height:</label>
    <input class="form-control" type="text" name="height" id="height"></input>
    <label for="depth">Depth:</label>
    <input class="form-control" type="text" name="depth" id="depth"></input>
    <label for="weight">Weight:</label>
    <input class="form-control" type="text" name="weight" id="weight"></input>
  </div>
  <button type="submit" class="btn-success">Go</button>
</form>
